/* static/style.css */

h1 {  
  font-size: 41px;
  font-family: sans-serif;
  font-size: -webkit-xxx-large;
}

p {  
  color: (100,100,100);
  font-size: 36px;
}

img {

}

li {  
  color: red;
  font-size: 50px;
}

body {  
    background: firebrick;
}

