
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
</head>
<body style="
    align-items: center;
    font-family: sans-serif;
    text-align: -webkit-center;
    background-color: #E6E6E1;
    ">
    <h1 style="
        font-size: 50px;
    "> Plot report from date to date </h1>
    <p style="
        font-size: xx-large;
        font-family: sans-serif;
    ">Plot from date to date</p>
    <img src="static\plots\generateReportPlot.jpg" alt="plot text" width="20%" height="auto" style="width: fit-content;height: auto;">
    <h2 style="
        font-size: xx-large;
    "> Report summary </h2>
    <p style="
        font-size: x-large;
    ">Analysis summary</p>
    
    <object id="__symantecPKIClientMessenger" data-supports-flavor-configuration="true" data-extension-version="0.5.0.109" style="display: none;"></object>
    <span id="__symantecPKIClientDetector" style="display: none;">__PRESENT</span>
</body>
</html>
    