
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <style>body{ margin:0 100; background:rgb(240, 218, 193); }</style>
    </head>
    <body style="font: menu">
        <h1>Black friday dataset:</h1>
        <p>Datasettet inneholder loggede transaksjoner under Black Friday.</p>
        <h2>Informasjon logget på hver kjøper:</h2>
        <h3>Kjønn - kjønn på kjøper </h3>
        <h3>Alder - alder på kjøper </h3>
        <h3>Yrke - yrke til kjøper </h3>
        <h3>By - registrert by kjøper bor i </h3>
        <h3>Boperiode i by - antall år kjøper har bodd i byen </h3>
        <h3>Sivilstatus - gift eller singel </h3>
        <h3>Produkt kategori - det er logget 20 produktkategorier </h3>
        <h3>Salg - salg i dollar på transaksjon </h3>

    </body>
</html>